<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Welcome to Giphy Search!</h1>
<p>Type in your search query below:</p>
<form method="post" action="/search">
    <label>
        <input type="text" name="query" placeholder="Enter search query...">
    </label>
    <button type="submit">Search</button>
</form>
</body>
</html>
